.button-not-pressed {
  background-color: #A7B0BE;
  width: 8vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.button-is-pressed {
  background-color: #6324C6;
  width: 8vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.button-not-pressed:hover {
  background-color: #6324C6;
}

.filter-button {
  color: #ffff;
  font-size: 20px;
  text-decoration: none;
}
