.button-not-pressed {
  align-items: center;
  background-color: #A7B0BE;
  border-radius: 8px;
  display: flex;
  font-weight: bolder;
  height: 4vh;
  justify-content: center;
  width: 8vw;
}

.button-is-pressed {
  align-items: center;
  background-color: #6324C6;
  border-radius: 8px;
  display: flex;
  font-weight: bolder;
  height: 4vh;
  justify-content: center;
  width: 8vw;
}

.button-not-pressed:hover {
  background-color: #6324C6;
}

.filter-button {
  color: #ffff;
  font-size: 1.3rem;
  text-decoration: none;
}
