.find-more-button {
  align-items: center;
  background-color: #6324C6;
  border: none;
  border-radius: 8px;
  display: flex;
  font-size: 1.2rem;
  height: 4vh;
  justify-content: center;
  width: 90vw;
  color: #ffff;
  font-weight: bolder;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

.find-more-button:hover {
  background-color: #4d1d9b;
}