.find-more-button {
  align-items: center;
  background-color: #6324C6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #ffff;
  display: flex;
  font-size: 1.2rem;
  font-weight: bolder;
  height: 4vh;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 90vw;
}

.hidden-button {
  visibility: hidden;
}

.find-more-button:hover {
  background-color: #4d1d9b;
}

@media only screen and (max-width: 479px) {
  .find-more-button {
    height: 7vh;
    font-size: 1rem;
  }
}