nav {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 3vh;
  width: 100vw;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

@media only screen and (max-width: 1200px) and (min-width: 880px) {
  .buttons-wrapper {
    width: 65vw;
  }
}

@media only screen and (max-width: 879px) and (min-width: 480px) {
  .buttons-wrapper {
    width: 68vw;
  }
}

@media only screen and (max-width: 479px) {
  .buttons-wrapper {
    width: 90vw;
  }
}
