body {
  margin: 0;
}

.posts-feed-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.end-of-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}