.postcard-wrapper {
  border-top: #4C5667 solid 1px;
  display: flex;
  height: 13vh;
  width: 90vw;
}

.post-thumbnail-wrapper {
  align-items: center;
  display: flex;
  margin-right: 2%;
  width: 10%;
}

.post-thumbnail {
  align-items: center;
  background-color: #A7B0BE;
  border: #A7B0BE 1px solid;
  border-radius: 8px;
  display: flex;
  height: 85%;
  justify-content: center;
  width: 100%;
}

.thumb-available {
  border-radius: 8px;
  height: 100%;
  object-fit: fill;
  width: 100%;
}

.thumb-not-available {
  opacity: 0.2;
}

.post-title {
  font-weight: bolder;
  font-size: 1.2rem;
}

.post-creation-time {
  color: #4C5667;
  font-size: 1rem;
}

.author-name {
  color: #6324C6;
  text-decoration: none;
}

.author-name:hover {
  text-decoration: underline;
}

.post-details-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 90%;
}

.creation-data-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.creation-data-wrapper p {
  margin: 0;
  padding: 0;
}

.reddit-link-wrapper {
  align-items: center;
  display: flex;
  height: 40%;
  width: 100%;
}

.hidden-link {
  visibility: hidden;
}

.link-to-reddit {
  color: #000000;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1rem;
}

.link-to-reddit:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) and (min-width: 880px) {
  .post-thumbnail-wrapper {
    width: 15%;
  }

  .post-details-wrapper{
    width: 85%;
  }
}

@media only screen and (max-width: 879px) and (min-width: 580px) {
  .post-thumbnail-wrapper {
    width: 20%;
  }

  .post-details-wrapper{
    width: 80%;
  }

  .post-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 579px) and (min-width: 480px) {
  .post-thumbnail-wrapper {
    width: 25%;
  }

  .post-details-wrapper{
    width: 75%;
  }

  .post-title {
    font-size: 0.9rem;
  }

  .post-creation-time {
    font-size: 0.9rem;
  }

  .link-to-reddit {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 479px){
  .post-thumbnail-wrapper {
    width: 30%;
  }

  .post-details-wrapper{
    width: 60%;
  }

  .postcard-wrapper {
    height: 18vh;
  }

  .post-title {
    font-size: 0.6rem;
  }

  .post-creation-time {
    font-size: 0.6rem;
  }

  .link-to-reddit {
    font-size: 0.6rem;
  }
}

