.postcard-wrapper {
  border-top: #4C5667 solid 1px;
  margin-bottom: 2vw;
  width: 85vw;
  height: 10vh;
}

.post-title {
  font-weight: bolder;
}

.post-creation-time {
  color: #4C5667;
  font-weight: lighter;
}

.author-name {
  color: #6324C6;
  text-decoration: none;
}

.author-name:hover {
  text-decoration: underline;
}

.hidden-link {
  visibility: hidden;
}

.link-to-reddit {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.link-to-reddit:hover {
  text-decoration: underline;
}
